<div class="all">
    <h1 class="titulo_nosotros">Nosotros</h1>
    <div class="resenia">
      <div class="bloque_izquierda">
          <img src="../../../assets/img/alisson_perfil.jpg" alt="">
          <p>
            ¡Bienvenido a una plataforma que impulsa el Turismo en Pichari! Sumérgete en la belleza natural y cultural de este increíble distrito. Desde exuberantes selvas hasta impresionantes cataratas, Pichari te ofrece aventuras inolvidables. Descubre la rica herencia cultural de la región a través de su comida, música y festivales. Nuestra página está diseñada para guiarte a través de los mejores lugares para visitar y actividades emocionantes para disfrutar. ¡Prepárate para explorar Pichari de una manera completamente nueva y emocionante!
            </p>
      </div>
      
      
    </div>
  </div>
  